<link rel="stylesheet" href="/stylesheets/category.css" />

<section class="categories container">
    <div class="items flex">
        <button class="item">Barchasi</button>
        <button class="item">Pyton</button>
        <button class="item">JavaScript</button>
        <button class="item">Java</button>
        <button class="item">C++</button>
        <button class="item">PHP</button>
    </div>

    <div class="tg-button">
        <button type="reset" class="tg-btn" class="flex align-center"><img class="tg-img" src="https://static.proglib.io/img/site/social/tg.png" alt="tg"> Telegram Kanalimizga obuna bo'ling</button>
    </div>
</section>