<link rel='stylesheet' href='/stylesheets/sidebar.css' />
<div class="container pos-relative">
  <div class="categories-box pos-absolute">
    <div class="items flex">
      <button class="item">Barchasi</button>
      {{#each categories}}
      <button class="item">{{name}}</button>
      {{/each}}
    </div>
  </div>
</div>