<link rel='stylesheet' href='/stylesheets/sidebar.css' />
<div class="container pos-relative">
  <div class="categories-box pos-absolute">
    <div class="items flex">
      <button class="item">Barchasi</button>
      <button class="item">Pyton</button>
      <button class="item">JavaScript</button>
      <button class="item">Java</button>
      <button class="item">C++</button>
      <button class="item">PHP</button>
    </div>
  </div>
</div>