<link rel="stylesheet" href="/stylesheets/articles.css" />
<section class="articls">
  <div class="container">
    <div class="news-box">
      <div class="article">
        <div class="title flex align-center">
          <a href="#" class="title-text">JavaScript vs Python</h1>
          <a class="category-name" href="#">JavaScript</a>
        </div>
        <div class="article-paragraf">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
          aspernatur asperiores ipsum odio? Amet illum vero, optio perspiciatis
          est modi cum adipisci doloribus, eaque consectetur voluptatem placeat
          numquam quo ipsam.</p>
        </div>
      </div>
    </div>
  </div>
</section>