<link rel="stylesheet" href="/stylesheets/articles.css" />
<section class="articls">
  <div class="container">
    <div class="news-box">
      {{#each articles}}
        <div class="article">
        <div class="title flex align-center">
          <a href="/" class="title-text">{{name}}</h1>
          <a class="category-name" href="#"></a>
        </div>
        <div class="article-paragraf">
          <p>{{paragraf}}</p>
        </div>
      </div>
      {{/each}}
      
    </div>
  </div>
</section>