

.tg-btn{
    width: 1120px;
    background-color: rgba(15, 105, 231, 0.749);
    border: none;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 50px;
}

.tg-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}