*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.align-start{
    align-items: flex-start;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly ;
}

.fmonospace{
    font-family:monospace;
}

.fopensans{
    font-family: 'Open Sans', sans-serif;
}

.bold{
    font-weight: 700;
}

